<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />

		<title>{{settings.title}}</title>

		<meta name="description" content="{{@blog.description}}" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="alternate" type="application/rss+xml" title="{{@blog.title}} - Feed" href="/rss" />

		<script src="/public/vendor/html5shiv/dist/html5shiv.js"></script>

		<link rel="stylesheet" href="/public/vendor/normalize-css/normalize.css" />
		<link rel="stylesheet" href="/public/styles/diaphanous.min.css" />

		{{ghost_head}}
	</head>

	<body class="{{body_class}}">
		{{> _siteHeader}}

		{{{body}}}

		{{> _sidebar}}

		{{> _siteFooter}}

		{{ghost_foot}}

		<script src="/public/scripts/diaphanous.min.js"></script>
	</body>
</html>